<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CODE QUIZ</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="../../assets/img/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Sweet Alert -->
<link type="text/css" href="../../vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="../../vendor/notyf/notyf.min.css" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="../../css/volt.css" rel="stylesheet">

<style type="text/css">
.lr {
	border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

.rr {
	border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}
</style>

</head>
<!-- 헤더 -->
<th:block th:replace="Header :: headerFragment"></th:block>
<!-- 헤더 끝 -->
<body>
	<div class="row mx-0 pb-3">
		<div class="col"></div>
		<div class="col-8 col-lg-8 table-responsive-sm py-4">
			<h1 class="pb-2 mb-0"><a th:href="@{/myPageChangePassword}">비밀번호 변경</a></h1>
			<p class="pb-4">비밀번호를 변경할 수 있습니다.</p>
			<div class="card mt-5 mb-3 py-2">
				<!-- Form -->
				<form action="main" class="mt-4 mb-2 px-5">
					<div class="form-group">
						<div class="form-group mb-4">
							<label class="idpw" for="password">OLD PW</label>
							<div class="input-group">
								<span class="input-group-text" id="basic-addon2"> 
									<svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
									</svg>
								</span> 
								<input type="password" placeholder="현재 비밀번호를 입력하세요." class="form-control" id="old_password" name="old_password" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-group mb-4">
							<label class="idpw" for="password">NEW PW</label>
							<div class="input-group">
								<span class="input-group-text" id="basic-addon2"> 
									<svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
									</svg>
								</span> 
								<input type="password" placeholder="새로운 비밀번호를 입력하세요." class="form-control" id="new_password1" name="new_password1" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-group mb-4">
							<label class="idpw" for="password">PW CHECK</label>
							<div class="input-group">
								<span class="input-group-text" id="basic-addon2"> 
									<svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
									</svg>
								</span> 
								<input type="password" placeholder="비밀번호를 한 번 더 입력하세요." class="form-control" id="new_password2" name="new_password2" required>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-end">
						<button type="submit" class="btn btn-gray-800" style="font-family: 'RixInooAriDuriR'; line-height: 2.0; font-size: 1.1rem;">SUBMIT</button>
					</div>
				</form>
				<!-- End of Form -->
			</div>
		</div>
		<div class="col"></div>
	</div>
	<!-- Core -->
	<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
	<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!-- Vendor JS -->
	<script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>
	
	<!-- Slider -->
	<script src="../../vendor/nouislider/dist/nouislider.min.js"></script>
	
	<!-- Smooth scroll -->
	<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
	
	<!-- Sweet Alerts 2 -->
	<script src="../../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
	
	<!-- Moment JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
	
	<!-- Notyf -->
	<script src="../../vendor/notyf/notyf.min.js"></script>
	
	<!-- Simplebar -->
	<script src="../../vendor/simplebar/dist/simplebar.min.js"></script>
	
	<!-- Volt JS -->
	<script src="../../assets/js/volt.js"></script>
</body>
</html>
