<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CODE QUIZ</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="../../assets/img/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Sweet Alert -->
<link type="text/css" href="../../vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="../../vendor/notyf/notyf.min.css" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="../../css/volt.css" rel="stylesheet">

<style type="text/css">
.lr {
	border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

.rr {
	border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}
</style>

</head>
<!-- 헤더 -->
<th:block th:replace="Header :: headerFragment"></th:block>
<!-- 헤더 끝 -->
<body>
	<div class="row mx-0 pb-3">
		<div class="col"></div>
		<div class="col-8 col-lg-8 table-responsive-sm py-4">
			
		</div>
		<div class="col"></div>
	</div>
	<!-- Core -->
	<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
	<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!-- Vendor JS -->
	<script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>
	
	<!-- Slider -->
	<script src="../../vendor/nouislider/dist/nouislider.min.js"></script>
	
	<!-- Smooth scroll -->
	<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
	
	<!-- Sweet Alerts 2 -->
	<script src="../../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
	
	<!-- Moment JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
	
	<!-- Notyf -->
	<script src="../../vendor/notyf/notyf.min.js"></script>
	
	<!-- Simplebar -->
	<script src="../../vendor/simplebar/dist/simplebar.min.js"></script>
	
	<!-- Volt JS -->
	<script src="../../assets/js/volt.js"></script>
	
	<script type="text/javascript">
	    document.addEventListener("DOMContentLoaded", activePage());
	    
		function category(value) {
			var categoryId = document.getElementById("category");
			location.href="/quizBoard?category=" + categoryId.value + "&page=1";
		}
		
		function activePage() {
			const params = new Proxy(new URLSearchParams(window.location.search), {
				  get: (searchParams, prop) => searchParams.get(prop),
			});
			let value = params.page;
		    document.getElementById("page_" + value).classList.add("active");
		}
	</script>
</body>
</html>
