<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>QnA게시판</title>
<!-- Volt CSS -->
<link type="text/css" href="../../css/volt.css" rel="stylesheet">

<style type="text/css">
.lr {
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

.rr {
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}
</style>
</head>
<!-- 헤더 -->
<th:block th:replace="Header :: headerFragment"></th:block>
<!-- 헤더 끝 -->
<body>
<div class="row mx-0 pb-3">
    <div class="col"></div>
	<div class="col-8 col-lg-8 table-responsive-sm py-4">
		<main>
			<div class="pb-4 mb-4">
				<div class="d-flex justify-content-between w-100 flex-wrap">
					<div class="mb-3 mb-lg-0">
						<h1 style="font-family: 'KOTRA_BOLD-Bold'";>
							<a href="qnaBoard">QnA 게시판</a>
						</h1>
						<p class="mb-0">문제에 대해 궁금한 것을 자유롭게 작성해주세요.</p>
					</div>
				</div>
			</div>
			<!-- 테이블  -->
			<div class="mb-4">
				<div>
					<div class="table-responsive">
						<table class="table table-centered table-nowrap mb-0 text-center bg-white">
							<thead class="thead-dark">
								<tr>
									<th class="border-0">번호</th>
									<th colspan ="3" class="w-50 border-0">제목</th>
									<th class="border-0">작성자</th>
									<th class="border-0">작성일</th>
									<th class="border-0">조회수</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${#lists.isEmpty(qnaPage.qnaList)}">
									<td colspan="5">작성된 게시글이 존재하지 않습니다</td>
								</tr>
								<tr th:if="${!#lists.isEmpty(qnaPage.qnaList)}" th:each="QnAVo : ${qnaPage.qnaList}">
									<td th:text="${QnAVo.qnaNum}"></td>
									<td colspan="3" class="w-50"><a th:href="@{/qnaDetail(qnaNum=${QnAVo.qnaNum})}" th:text="${QnAVo.qnaTitle}"></a></td>
									<td th:text="${QnAVo.qnaWriter}"></td>
									<td th:text="${#dates.format(QnAVo.qnaWriteDate, 'yyyy-MM-dd')}"></td>
									<td th:text="${QnAVo.qnaReadCount}"></td>
								<tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<nav class="d-flex justify-content-between px-1">
                <ul class="pagination mb-0 d-flex">
                    <li class="page-item">
                        <a class="page-link lr" th:if="${qnaPage.startPage != 1}" th:href="@{/qnaBoard(page=${startPage - 5})}"><</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link lr" th:unless="${qnaPage.startPage != 1}"><</a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(qnaPage.startPage, qnaPage.endPage)}" 
                    th:if="${qnaPage.startPage <= qnaPage.endPage}" th:id = "'page_' + ${page}" >
                        <a class="page-link" th:href="@{/qnaBoard(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rr" th:if="${qnaPage.endPage - qnaPage.startPage >= 4}" th:href="@{/qnaBoard(page=${qnaPage.startPage + 5})}">></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rr" th:unless="${qnaPage.endPage - qnaPage.startPage >= 4}">></a>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary h-50" th:onclick="location.href='/qnaWriteForm'">글쓰기</button>
            </nav>
		</main>
	</div>
	<div class="col"></div>
</div>
</body>

<!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="../../vendor/nouislider/dist/nouislider.min.js"></script>

<!-- Smooth scroll -->
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="../../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Notyf -->
<script src="../../vendor/notyf/notyf.min.js"></script>

<!-- Simplebar -->
<script src="../../vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Volt JS -->
<script src="../../assets/js/volt.js"></script>
<script type="text/javascript">
        document.addEventListener("DOMContentLoaded", activePage());
        
        function activePage() {
            const params = new Proxy(new URLSearchParams(window.location.search), {
                  get: (searchParams, prop) => searchParams.get(prop),
            });
            let value = params.page;
            document.getElementById("page_" + value).classList.add("active");
        }
    </script>
</html>