<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CODE QUIZ</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="../../assets/img/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Sweet Alert -->
<link type="text/css" href="../../vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="../../vendor/notyf/notyf.min.css" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="../../css/volt.css" rel="stylesheet">
</head>

<!-- 헤더 -->
<th:block th:replace="Header :: headerFragment"></th:block>
<!-- 헤더 끝 -->
<body>
	<!-- 메인 영역 1 -->
	<div class="row mx-0">
		<div class="col"></div>
		<!-- 배너 캐러셀 -->
		<div class="col-3 col-lg-3 table-responsive py-3 pt-1 text-center">
			<div id="carousel" class="carousel slide pt-4" data-bs-ride="carousel" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active" data-bs-interval="4500">
						<a th:href="@{/quizBoard(category=0, page=1)}">
							<img class="d-block w-100" src="../assets/img/banner/banner1.png">
						</a>
					</div>
					<div class="carousel-item" data-bs-interval="4500">
						<a th:href="@{/quizWriteForm}">
							<img class="d-block w-100" src="../assets/img/banner/banner2.png">
						</a>
					</div>
					<div class="carousel-item" data-bs-interval="4500">
                        <a th:href="@{/quizWriteForm}">
                            <img class="d-block w-100" src="../assets/img/banner/banner3.png">
                        </a>
                    </div>
				</div>
			</div>
		</div>
		<!-- 배너 캐러셀 끝 -->
		<div class="col"></div>
	</div>
	<!-- 메인 영역 1 끝 -->
	<!-- 메인 영역 2 -->
	<!-- 게시판 -->
	<div class="row mx-0 pt-3">
		<div class="col"></div>
		<!-- 퀴즈 게시판 -->
		<div class="col-4 col-lg-4 table-responsive py-4">
			<h2 class="text-left"><a th:href="@{/quizBoard(category=0, page=1)}">퀴즈 게시판</a></h2>
			<table class="bg-white table table-flush text-center" id="datatable">
				<thead class="thead-dark">
					<tr>
						<th colspan="2" class="w-75">제목</th>
						<th colspan="1">작성일</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list, index : ${quizList}">
						<td colspan="2" class="w-75"><a th:href="@{/quizDetail(quizNum=${list.quizNum})}" th:text="'[' + ${list.quizType} + '] ' +${list.quizTitle}"></a></td>
						<td colspan="1" th:text="${#dates.format(list.quizWriteDate, 'yyyy-MM-dd')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- 퀴즈 게시판 끝 -->
		<!-- QnA 게시판 -->
		<div class="col-4 col-lg-4 table-responsive py-4">
			<h2 class="text-left"><a th:href="@{/qnaBoard}">QnA 게시판</a></h2>
			<table class="bg-white table table-flush text-center" id="datatable">
				<thead class="thead-dark">
					<tr>
						<th colspan="2" class="w-75">제목</th>
						<th colspan="1">작성일</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list, index : ${qnaList}">
						<td colspan="2" class="w-75"><a th:href="@{/qnaDetail(qnaNum=${list.qnaNum})}" th:text="${list.qnaTitle}"></a></td>
						<td colspan="1" th:text="${#dates.format(list.qnaWriteDate, 'yyyy-MM-dd')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- QnA 게시판 끝 -->
		<div class="col"></div>
	</div>
	<!-- 메인 영역 2 끝 -->
	<!-- 메인 영역 3 -->
	<div class="row mx-0 pb-3">
		<div class="col"></div>
		<!-- JAVA 랭킹 게시판 -->
		<div class="col-2 col-lg-2 table-responsive py-4">
			<h4 class="text-left"><a th:href="@{/quizBoard(category=0, page=1)}">JAVA 랭킹</a></h4>
			<table class="bg-white table table-flush text-center" id="datatable">
				<thead class="thead-dark">
					<tr>
						<th colspan="2" class="w-75">아이디</th>
						<th colspan="1">맞춘 문제 수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list : ${javaListThree}">
						<td colspan="2" class="rankLists" th:text="${list.memberId}"></td>
						<td colspan="1" th:text="${list.count}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- JAVA 랭킹 게시판 끝 -->
		<!-- SQL 랭킹 게시판 -->
        <div class="col-2 col-lg-2 table-responsive py-4">
            <h4 class="text-left"><a th:href="@{/quizBoard(category=0, page=1)}">SQL 랭킹</a></h4>
            <table class="bg-white table table-flush text-center" id="datatable">
                <thead class="thead-dark">
	                <tr>
	                    <th colspan="2" class="w-75">아이디</th>
	                    <th colspan="1">맞춘 문제 수</th>
	                </tr>
                </thead>
                <tbody>
                    <tr th:each="list : ${sqlListThree}">
                        <td colspan="2" class="rankLists" th:text="${list.memberId}"></td>
                        <td colspan="1" th:text="${list.count}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- SQL 랭킹 게시판 끝 -->
        <!-- HTML 랭킹 게시판 -->
        <div class="col-2 col-lg-2 table-responsive py-4">
            <h4 class="text-left"><a th:href="@{/quizBoard(category=0, page=1)}">HTML 랭킹</a></h4>
            <table class="bg-white table table-flush text-center" id="datatable">
                <thead class="thead-dark">
	                <tr>
	                    <th colspan="2" class="w-75">아이디</th>
	                    <th colspan="1">맞춘 문제 수</th>
	                </tr>
                </thead>
                <tbody>
                    <tr th:each="list : ${htmlListThree}">
                        <td colspan="2" class="rankLists" th:text="${list.memberId}"></td>
                        <td colspan="1" th:text="${list.count}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- HTML 랭킹 게시판 끝 -->
        <!-- CSS 랭킹 게시판 -->
        <div class="col-2 col-lg-2 table-responsive py-4">
            <h4 class="text-left"><a th:href="@{/quizBoard(category=0, page=1)}">CSS 랭킹</a></h4>
            <table class="bg-white table table-flush text-center" id="datatable">
                <thead class="thead-dark">
	                <tr>
	                    <th colspan="2" class="w-75">아이디</th>
	                    <th colspan="1">맞춘 문제 수</th>
	                </tr>
                </thead>
                <tbody>
                    <tr th:each="list : ${cssListThree}">
                        <td colspan="2" class="rankLists" th:text="${list.memberId}"></td>
                        <td colspan="1" th:text="${list.count}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- CSS 랭킹 게시판 끝 -->
		<!-- 게시판 끝 -->
	<div class="col"></div>
	</div>
	<!-- 메인 영역 3 끝 -->
	<!-- Core -->
	<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
	<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!-- Vendor JS -->
	<script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>
	
	<!-- Slider -->
	<script src="../../vendor/nouislider/dist/nouislider.min.js"></script>
	
	<!-- Smooth scroll -->
	<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
	
	<!-- Sweet Alerts 2 -->
	<script src="../../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
	
	<!-- Moment JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
	
	<!-- Notyf -->
	<script src="../../vendor/notyf/notyf.min.js"></script>
	
	<!-- Simplebar -->
	<script src="../../vendor/simplebar/dist/simplebar.min.js"></script>
	
	<!-- Volt JS -->
	<script src="../../assets/js/volt.js"></script>
</body>
</html>
