<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.codequiz.repository.mapper.QuizBoardMapper">
	<!-- 퀴즈 등록 -->
	<insert id = "insertQuiz" parameterType = "com.codequiz.vo.QuizBoardVo" 
	 useGeneratedKeys = "true" keyProperty = "quizNum">
		INSERT INTO QUIZ_BOARD (QUIZ_TITLE, QUIZ_CONTENTS, QUIZ_WRITER, QUIZ_WRITE_DATE, QUIZ_ANSWER1, QUIZ_ANSWER2, QUIZ_ANSWER3, QUIZ_ANSWER4, QUIZ_TRUE_ANSWER, QUIZ_TYPE)
		VALUES (#{quizTitle},#{quizContents},#{quizWriter},now(),#{quizAnswer1},#{quizAnswer2},#{quizAnswer3},#{quizAnswer4},#{quizTrueAnswer},#{quizType})
	</insert>
	
	<!-- 유저가 맞춘 퀴즈를 등록 -->
	<insert id = "insertQuizCorrectCount" parameterType = "com.codequiz.vo.QuizCorrectCountVo">
        INSERT INTO QUIZ_CORRECT_COUNT (MEMBER_ID, QUIZ_NUM) 
        VALUES (#{memberId}, #{quizNum})
	</insert>
	
	<!-- 맞춘 사람 수 불러오기 -->
	<select id = "selectQuizCorrectCount" resultType="int">
		SELECT COUNT(*) 
		FROM QUIZ_CORRECT_COUNT 
		WHERE QUIZ_NUM = #{quizNum} 
	</select>
	
	<!-- 개인의 맞춘 문제 수 불러오기 -->
	<select id = "selectMemberCorrectCount" resultType="int">
		SELECT COUNT(*) 
		FROM QUIZ_CORRECT_COUNT 
		WHERE MEMBER_ID = #{memberId} 
	</select>

	<!-- 모든 퀴즈 리스트 불러오기 -->
	<select id = "selectQuizAll" resultMap = "quizBoardResultMap">
		SELECT * 
		FROM QUIZ_BOARD 
	</select>
	
	<!-- 한 페이지의 퀴즈 리스트 불러오기  -->
	<select id = "selectQuizList" resultMap = "quizBoardResultMap">
		SELECT * FROM QUIZ_BOARD 
		ORDER BY QUIZ_NUM DESC 
		LIMIT #{startRow}, #{count_per_page};
	</select>
	
	<!-- 카테고리로 분류된 한 페이지의 퀴즈 리스트 불러오기 -->
	<select id = "selectQuizListByCategory" resultMap = "quizBoardResultMap">
		SELECT * 
		FROM QUIZ_BOARD 
		WHERE QUIZ_TYPE = #{category} 
		ORDER BY QUIZ_NUM DESC 
		LIMIT #{startRow}, #{count_per_page};
	</select>
	
	<!-- 마지막 등록한 퀴즈 3개 리스트 불러오기  -->
	<select id = "selectQuizLastThree" resultMap = "quizBoardResultMap">
		SELECT * 
		FROM QUIZ_BOARD 
		ORDER BY QUIZ_NUM DESC 
		LIMIT 3;
	</select>

	<!-- 하나의 퀴즈만 불러오기 -->
	<select id = "selectQuiz" resultMap = "quizBoardResultMap">
		SELECT * 
		FROM QUIZ_BOARD 
		WHERE QUIZ_NUM = #{quizNum}
	</select>
	
	<!-- 퀴즈 제목으로 검색해서 퀴즈 리스트 불러오기 -->
	<select id = "searchQuiz" resultMap = "quizBoardResultMap">
		SELECT * 
		FROM QUIZ_BOARD 
		WHERE QUIZ_TITLE LIKE CONCAT('%', #{keyword}, '%')
	</select>
	
	<!-- 모든 퀴즈의 개수 불러오기 -->
	<select id = "selectQuizCount" resultType = "int">
		SELECT COUNT(*) 
		FROM QUIZ_BOARD
	</select>
	
	<!-- 카테고리로 분류된 퀴즈의 개수 불러오기 -->
	<select id = "selectQuizCountByCategory" resultType = "int">
		SELECT COUNT(*) 
		FROM QUIZ_BOARD 
		WHERE QUIZ_TYPE = #{category}
	</select>
	
	<!-- 특정 아이디로 특정 퀴즈 맞춘 이력 확인 -->
	<select id = "selectQuizCorrectHistory" resultType = "int">
		SELECT COUNT(*) 
		FROM QUIZ_CORRECT_COUNT 
		WHERE MEMBER_ID = #{memberId} AND QUIZ_NUM = #{quizNum} 
	</select>
	
	<select id = "selectQuizView" resultType = "int">
        SELECT QUIZ_VIEW 
        FROM QUIZ_BOARD 
        WHERE QUIZ_NUM = #{quizNum}
	</select>
	
	<!-- 퀴즈 정답 확인 -->
	<select id = "isAnswerCorrect" resultType = "int">
        SELECT COUNT(*) 
        FROM QUIZ_BOARD 
        WHERE QUIZ_NUM = #{quizNum} AND QUIZ_TRUE_ANSWER = #{selectedQuizAnswer}
	</select>
	
	<!-- 퀴즈 수정하기 -->
	<update id = "updateQuiz" parameterType = "com.codequiz.vo.QuizBoardVo">
		UPDATE QUIZ_BOARD 
		SET QUIZ_TITLE = #{quizTitle}, 
		QUIZ_CONTENTS = #{quizContents}, 
		QUIZ_ANSWER1 = #{quizAnswer1}, 
		QUIZ_ANSWER2 = #{quizAnswer2}, 
		QUIZ_ANSWER3 = #{quizAnswer3}, 
		QUIZ_ANSWER4 = #{quizAnswer4}, 
		QUIZ_TRUE_ANSWER = #{quizTrueAnswer}, 
		QUIZ_TYPE = #{quizType} 
		WHERE QUIZ_NUM = #{quizNum}
	</update>
	
	<!-- 퀴즈 조회수 증가 -->
    <update id="updateQuizView" parameterType = "int">
        UPDATE QUIZ_BOARD 
        SET QUIZ_VIEW = QUIZ_VIEW + 1 
        WHERE QUIZ_NUM = #{quizNum}
    </update>

	<!-- 퀴즈 삭제하기 -->
	<delete id = "deleteQuiz" parameterType = "int">
		DELETE FROM QUIZ_BOARD 
		WHERE QUIZ_NUM = #{quizNum}
	</delete>
	
	<!-- 맞춘 퀴즈 내역 삭제 -->
	<delete id = "deleteQuizCorrectCount" parameterType = "int">
        DELETE FROM QUIZ_CORRECT_COUNT 
        WHERE QUIZ_NUM = #{quizNum}
	</delete>
	
	<resultMap type = "com.codequiz.vo.QuizBoardVo" id = "quizBoardResultMap">
		<result column = "QUIZ_NUM" property = "quizNum"/>
		<result column = "QUIZ_TITLE" property = "quizTitle"/>
		<result column = "QUIZ_CONTENTS" property = "quizContents"/>		
		<result column = "QUIZ_WRITER" property = "quizWriter"/>
		<result column = "QUIZ_WRITE_DATE" property = "quizWriteDate"/>
		<result column = "QUIZ_ANSWER1" property = "quizAnswer1"/>
		<result column = "QUIZ_ANSWER2" property = "quizAnswer2"/>
		<result column = "QUIZ_ANSWER3" property = "quizAnswer3"/>
		<result column = "QUIZ_ANSWER4" property = "quizAnswer4"/>
		<result column = "QUIZ_TRUE_ANSWER" property = "quizTrueAnswer"/>
		<result column = "QUIZ_VIEW" property = "quizView"/>
		<result column = "QUIZ_TYPE" property = "quizType"/>
	</resultMap>
</mapper>